@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.hero{
    display: flex;
    flex-direction: column;
    background-color: #0d0d0d;
    height: 70vh;
}

.hero nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 32px max(1em, 10vw) 16px max(1em, 10vw);
    position: sticky;
    background-color: #0d0d0d;
    top: 0;
}

.hero nav .ext-links{
    display: flex;
    align-items: center;
}

.hero nav .hero-logo{
    font-size: clamp(2rem, 5vw, 4rem);
    color: #fff;
    font-weight: 700;
}

.hero nav .ext-links{
    gap: 4em;
}

.hero nav .ext-links .nav-link a{
    font-size: clamp(1.2rem, 1.5vw, 3rem);
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    padding: 4px;
}

.hero nav .ext-links .nav-link a:hover{
    border-bottom: 2px solid #fff;
}

.hero .welcome-text{
    display: block;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 1em;
}

.hero .welcome-text p{
    font-size: clamp(1.6rem, 5vw, 3rem);
    color: #fff;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
}

main .content-container{
    display: flex;
    margin-top: 10em;
    gap: 6em;
    padding: 0 5vw;
}
.content-container .table-of-contents{
    flex: 1;
}
.content-container .table-of-contents ul{
    position: sticky;
    top: 5em;
    padding-right: 2em;
    padding-left: 0.8em;
    border-right: 2px solid #0d0d0d;

}
.content-container .table-of-contents ul li{
    margin-bottom: 1em;
}

.content-container .table-of-contents ul li a{
    font-size: clamp(0.8rem, 1.4rem, 2rem);
    font-weight: 600;
    text-decoration: none;
    color: #0d0d0d;
}

.content-container .table-of-contents ul li a:hover{
    color: #f9956b;
}

.content-container .content{
    flex: 2;
}

.content-container .content .content-item h1{
    font-size: clamp(1.8rem, 2.8vw, 3rem);
    margin-bottom: 0.6rem;
    color: #0d0d0d;
    font-weight: 600;
    padding-bottom: 0.3em;
    border-bottom: 2px solid #0d0d0d;
}
.content-container .content .content-item p{
    font-size: clamp(1.2rem, 1.4vw, 2rem);
    margin-bottom: 1rem;
    font-weight: 400;
    color: #0d0d0d;
    line-height: 1.5;
}

footer{
    background-color: #0d0d0d;
    padding: 20px max(1em, 2vw);
}

footer .connect-text{
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

footer .social-links{
    display: flex;
    justify-content: space-evenly;
}

footer .social-links div a{
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

footer .social-links div a:hover{
    color: #f9956b;
}

footer .copyright{
    color: #fff;
    text-align: center;
    margin-top: 4rem;
    font-size: 1rem;
    font-weight: 400;
}

@media(max-width:768px){
    main .content-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5em;
    }

    .hero nav .ext-links .nav-link{
        display: none;
    }
    
    .content-container .table-of-contents ul{
        position: static;
        border-right: 0;
        border-bottom: 2px solid #0d0d0d;
    }

    footer .social-links{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}